@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body 
{
  background-color: rgb(244, 244, 244);
}
.page 
{
  height: 80vh;
}

/* signup page styling */

.signupPage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer
{
  height: 420px;
  padding: 2rem;
  background-color: rgb(212, 212, 212);
  border-radius: .85rem;
  width: 400px;
  text-align: center;
  transition: all .5s ease;

}
.signupContainer:hover
{
    box-shadow: 5px 5px 10px 0px rgb(105, 105, 105);
}
.mediumHeading
{
  font-size: 2.85rem;
  font-weight: 600;
}

form 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form input 
{
  padding: .85rem;
  font-size: 1.12rem;
  margin: .5rem 0;
  border: 1px solid white;
  outline: none;
}
button 
{
  padding: 1rem 2.5rem;
  border: none;
  margin: .55rem 0  0;
}
